boto3==1.4.4
cachetools==2.0.0
dogstatsd-python==0.5.6
elasticsearch==5.4.0
mysql-connector==2.1.4
pika==0.10.0
requests==2.13.0
jira==1.0.10
tornado==4.4.2
pytz==2017.2
smart-open==1.5.3
python-cuckoo==1.1.1
